# Node
node_modules
*.log

# Mac OS X
.DS_Store

# Fastlane
appium/fastlane/test_output/
appium/fastlane/report.xml
appium/.env
appium/fastlane/README.md

# Appium

aws
test_bundle.zip
__pycache__
.cache
wheelhouse
yarn.lock
package-lock.json
.rpt2_cache
